* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #457b9d;
    color: #f1faee; 
}

.title {
    font-size: 1.5rem;
    margin: 5px; 
}

.center-block {
    margin: auto;
}

a {
    color: #a8dadc;
}

.top-bar {
    padding: 5px;
    background-color: #1d3557;
    color: #f1faee;
}

.header{
    width: fit-content;
    padding: 5px;
}

.top-nav {
    text-align: center;
}

.footer {
    background-color: #1d3557;
    padding: 25 px;
    text-align: center;
    color: #f1faee;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.search-form {
    padding: 5px;
}

.rounded-card {
    width: min-content;
    margin: 30px auto;
    background-color: #1d3557;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 8px 8px 40px 0px rgba(66, 68, 90, 1);
}

.shelter-img {
    width: 350 px;
    border-radius: 30px;
}